<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/pekus_logo.png" alt="Controle de Fazenda Urbana" width="200">
</div>

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Calculate">Calculadora</MudNavLink>
    <MudNavLink Href="historico" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.History">Histórico</MudNavLink>
</MudNavMenu>


